html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-cl: #48555b;
  --secondary-text-cl: #ffffff;
  --accent-cl: #00a4e5;
  --bg-cl: #171819;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--main-text-cl);
  background-color: var(--secondary-text-cl);

  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 940px;
  outline: 2px solid tomato;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.page-tittle {
  margin-top: 0;
  margin-bottom: 11px;
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 1.166;
  letter-spacing: 5.70937px;
  text-transform: uppercase;
  color: var(--secondary-text-cl);
}

.hero {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 41px;
  padding-bottom: 71px;
  text-align: center;

  background-image: url(../img/pictures/hero-bg.jpg);

  background-color: var(--bg-cl);
  background-position: center;

  max-width: 1438px;
  height: 769px;
  /* outline: 1px solid black; */
}

.hero-link {
  display: inline-block;
  margin-bottom: 309px;
}

.hero-text {
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;

  color: var(--secondary-text-cl);
}

.secondary-hero-text {
  margin-top: auto;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 3.7px;
  text-transform: uppercase;

  color: var(--secondary-text-cl);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list .link {
  display: inline-block;
  padding: 25px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 1.09091px;
  text-transform: uppercase;

  transition: color 250ms var(--timing-function);
}

.nav-list .link:hover,
.nav-list .link:focus {
  font-weight: 700;
  color: var(--accent-cl);
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}
