html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-cl: #48555b;
  --secondary-text-cl: #ffffff;
  --accent-cl: #00a4e5;
  --bg-cl: #171819;
  --footer-bg: #141a20;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--main-text-cl);
  background-color: var(--secondary-text-cl);

  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 970px;
  /* outline: 2px solid tomato; */
}

.dark-bg {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-color: var(--bg-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--secondary-text-cl);
  background-color: var(--accent-cl);

  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  min-width: 150px;
  height: 40px;
  border-color: transparent;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--main-text-cl);
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.footer {
  color: var(--secondary-text-cl);
}

.page-tittle {
  margin-top: 0;
  margin-bottom: 11px;
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 1.166;
  letter-spacing: 5.70937px;
  text-transform: uppercase;
  color: var(--secondary-text-cl);
}

.section-tittle {
  position: relative;
  margin-bottom: 76px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 2.30625px;
  text-transform: uppercase;
  text-align: center;

  color: var(--main-text-cl);
}

.tittle-line::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: var(--accent-cl);
  width: 50px;
  height: 2px;

  transform: translateX(-50%);
}

.accent {
  color: var(--accent-cl);
}

.hero {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 41px;
  padding-bottom: 71px;
  text-align: center;

  background-image: url(../img/pictures/hero-bg.jpg);

  background-color: var(--bg-cl);
  background-position: center;

  max-width: 1438px;
  height: 768px;
  /* outline: 1px solid black; */
}

.hero-link {
  display: inline-block;
  margin-bottom: 309px;
}

.hero-text {
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;

  color: var(--secondary-text-cl);
}

.secondary-hero-text {
  margin-top: auto;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 3.7px;
  text-transform: uppercase;

  color: var(--secondary-text-cl);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list .link {
  display: inline-block;
  padding: 25px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 1.09091px;
  text-transform: uppercase;

  transition: color 250ms var(--timing-function), font-weight 250ms var(--timing-function);
}

.nav-list .link:hover,
.nav-list .link:focus {
  font-weight: 700;
  color: var(--accent-cl);
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.border-bottom {
  margin-right: auto;
  margin-left: auto;
  width: 1438px;
  border-bottom: 1px solid #e6e6e6;
}

.our-story {
  padding-top: 57px;
}

.story-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-story {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.1875px;

  color: var(--main-text-cl);
}

.secondery-story {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.1875px;

  color: var(--main-text-cl);
}

.story-box {
  max-width: 43%;
}

.images-box {
  width: 50%;
}

.story-item {
  position: relative;
}

.img-text {
  position: absolute;
  top: 14px;
  left: 15px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.1875px;
  text-transform: uppercase;

  color: var(--secondary-text-cl);
}

.capabilities {
  padding-top: 115px;
  padding-bottom: 115px;
}

.capabilities-tittle {
  text-align: start;
  margin-bottom: 0;
  margin-top: 0;
}

.capabilities-tittle::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: var(--accent-cl);
  width: 50px;
  height: 2px;
}

.capabilities-box {
  display: flex;
  align-items: flex-start;
}
.all-services-box {
  margin-left: auto;
  max-width: 590px;
  display: flex;
  align-items: center;
}

.capabilities-text {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 32px;
  font-size: 11px;
  line-height: 1.73x;
  letter-spacing: 0.2px;
}

.projects {
  padding-bottom: 115px;
}

.projects-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.projects-item {
  margin-top: 30px;
  margin-left: 30px;

  width: calc(100% / 3 - 30px);
  transition: box-shadow 250ms var(--timing-function);
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link {
  display: inline-block;
  padding: 36px 21px;
  border: 1px solid #e6e6e6;
}

.list-img {
  margin-bottom: 20px;
}

.list-tittle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.426667px;
  text-transform: uppercase;
}

.list-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.1875px;
}

.get-in-touch {
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  text-align: center;

  background-image: url(../img/pictures/bg.jpg);

  background-color: var(--bg-cl);
  background-position: center;

  max-width: 1440px;
  height: 497px;
}

.get-in-touch-tittle {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.15px;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-title {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-right: 70px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.846154px;
}

.footer-input {
  display: block;
  width: 250px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 0px;
  border: 1px solid #979797;
  border-right: transparent;

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.07px;
}

.footer-section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-color: var(--footer-bg);
}

.company {
  width: 250px;
}

.footer-tittle {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
}

.footer-logo {
  margin-bottom: 16px;
}

.company-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.85px;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 2.27;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
  transition: color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-cl);
}

.link-list {
  margin-top: 34px;
}

.footer-address {
  width: 141px;
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.846154px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}

.copyright-text {
  text-align: center;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.846154px;
}
